{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %} Acerca de {% endblock %}

{% block content %}
<div class="about">
    <div class="row justify-content-center mt-1">
        <!-- Card 1 -->
        <div class="col-md-3">
            <div class="card card-sm border-0 text-center" > 
                <h6 class="card-title mb-1 mt-2 font-weight-bold">Paola Andrea Trujillo Velasco</h6>
                <div style="margin-top: 10px;">
                    <img src="{% static 'assets/icons/programmer1.jpg' %}" alt="Programmer 1" class="card-img-top">
                </div>
                <div class="card-body p-2">
                    <p class="card-text text-muted" style="font-size: 12px;">andretrujillo029@gmail.com</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-3">
            <div class="card card-sm border-0 text-center" > 
                <h6 class="card-title mb-1 mt-2 font-weight-bold">Paola Andrea Trujillo Velasco</h6>
                <div style="margin-top: 10px;">
                    <img src="{% static 'assets/icons/programmer1.jpg' %}" alt="Programmer 1" class="card-img-top">
                </div>
                <div class="card-body p-2">
                    <p class="card-text text-muted" style="font-size: 12px;">andretrujillo029@gmail.com</p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-3">
            <div class="card card-sm border-0 text-center" >
                <h6 class="card-title mb-1 mt-2 font-weight-bold">Paola Andrea Trujillo Velasco</h6>
                <div style="margin-top: 10px;">
                    <img src="{% static 'assets/icons/programmer1.jpg' %}" alt="Programmer 1" class="card-img-top">
                </div>
                <div class="card-body p-2">
                    <p class="card-text text-muted" style="font-size: 12px;">andretrujillo029@gmail.com</p>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-3">
            <div class="card card-sm border-0 text-center"> 
                <h6 class="card-title mb-1 mt-2 font-weight-bold">Paola Andrea Trujillo Velasco</h6>
                <div style="margin-top: 10px;">
                    <img src="{% static 'assets/icons/programmer1.jpg' %}" alt="Programmer 1" class="card-img-top">
                </div>
                <div class="card-body p-2">
                    <p class="card-text text-muted" style="font-size: 12px;">andretrujillo029@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
