{% extends 'layouts/layout.html'%}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<article id="modules" class="card-select">
    <header>
        <h1 class="header-title">Elegir modulo</h1>
    </header>
    <section class="card">
        <header class="card-header">
            <h1 class="card-title">Modulos</h1>
        </header>
        <div class="card-body">
            <ul>
                <li class="col">
                    <a role="button" href="{% url 'module1' %}">
                        <img src="{% static 'assets/icons/log-in.png'%}">
                        <span >Principal</span>
                    </a>
                </li>
                <li class="col">
                    <a role="button" href="{% url 'module2' %}">
                        <img src="{% static 'assets/icons/dispositivo.png'%}">                    
                        <span>Registros</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</article>
{% endblock %}