{% extends 'layouts/layout.html'%}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<article id="modules" class="card-select">
    <header>
        <h1 class="header-title">Elegir modulo</h1>
    </header>
    <section class="card">
        <header class="card-header">
            <h1 class="card-title">Modulos</h1>
        </header>
        <div class="card-body">
            <ul>
                <!-- Modulo 1 -->
                <li class="col">
                    <a class="module" data-module="module1" role="button" href="{% url 'module1' %}">
                        <img src="{% static 'assets/icons/log-in-green.png'%}">
                        <span >Principal</span>
                    </a>
                </li>

                <!-- Modulo 2 -->
                <li class="col">
                    <a class="module" data-module="module2" role="button" href="{% url 'module2' %}">
                        <img src="{% static 'assets/icons/devices.png'%}">                    
                        <span>Dispositivos</span>
                    </a>
                </li>

                <!-- Modulo 3 -->
                <li class="col">
                    <a class="module" data-module="module3" role="button" href="{% url 'module3' %}">
                        <img src="{% static 'assets/icons/vehicles2.png'%}">                    
                        <span>Vehiculos y dispositivos</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</article>
{% endblock %}