{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<article id="login">
    <section class="card">
        <header class="card-header">
            <!-- Boton atras -->
            <button class="btn back-button" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </button>
        </header>
        <div class="card-body">
            <!-- Formulario login -->
            <div class="card-form">
                <header class="card-header">
                    <h1 class="card-title">Iniciar Sesion</h1>
                </header>
                <!-- Mensajes de error -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                        {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- Formulario -->
                <form method="post">  
                  {% csrf_token %}  
                    <div class="form-group">               
                        <div class="input-box">
                            <input type="text" name="username" required>
                            <label>Usuario</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="password" name="password" required>
                            <label>Contraseña</label>
                        </div>
                    </div>
                    <div class="form-submit">
                        <button class="form-btn btn btn-primary" type="submit">Iniciar Sesion</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</article>
{% endblock %}