{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<article id="login">
    <section class="card">
        <header class="card-header">
            <!-- Boton atras -->
            {% include 'layouts/components/BackButton.html' %}
        </header>
        <div class="card-body">
            <!-- Formulario login -->
            <div class="card-form">
                <header class="card-header">
                    <h1 class="card-title">Iniciar Sesión</h1>
                </header>
                <!-- Mensajes de error -->
                {% include 'layouts/components/Messages.html' %}
                <!-- Formulario -->
                <form method="post">  
                  {% csrf_token %}  
                    <div class="form-group">               
                        <div class="input-box">
                            <input type="text" name="username" required>
                            <label>Usuario</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="password" name="password" required>
                            <label>Contraseña</label>
                        </div>
                    </div>
                    <div class="form-submit">
                        <button class="form-btn btn btn-primary" type="submit">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</article>
{% endblock %}