{% extends 'layouts/admin_base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block report %}
  {% url 'reports' model="vehiculos" %}
{% endblock %}

{% block card_title %} {{title}} {% endblock %}

{% block card_table%}

<div class="table-container">
    <div class="table-scroll">
      <table class="table table-striped" data-table="">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Propietario</th>
            <th scope="col">Placa</th>
            <th scope="col">Tipo</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <!-- Traer los datos -->
          {% include 'layouts/components/TableContent.html' with search=search items=vehiculos include="pages/vehiculos/table/data.html" %}
        </tbody>
      </table>
    </div>  
    {% if not search %}
      <!-- Paginacion de la tabla -->
      {% include 'layouts/components/Pagination.html' with pagination=vehiculos name="vehicle" %} 
    {% else %}
      <!-- Paginacion de search -->
      {% include 'layouts/components/Pagination.html' with pagination=search name="vehicle-search" %}
    {% endif %}
</div>

{% endblock %}

