{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<article id="ingreso" class="card-form">
    <section class="card">
        <header class="card-header">
            <!-- Back Button -->
            {% include 'layouts/components/BackButton.html' %}
            <h1 class="card-title">Registrar Dispositivo</h1>
        </header>
        <div class="card-body">
            <!-- Errores de formulario -->
            {% include 'layouts/components/FormErrors.html' %}    
            <!-- Formulario -->       
            {% include 'layouts/forms/FormDevices.html' %}
        </div>
    </section>
</article>
{% endblock %}