{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<!-- VISTA: Elegir tipo de vehiculo -->
{% if not vehicle %}
<article id="ingreso" class="card-select">
    <section class="card">
        <header class="card-header">
            <!-- BackButton -->
            {% include 'layouts/components/BackButton.html' %}
            <h1 class="card-title">Elegir tipo</h1>
        </header>
        <div class="card-body">
            <!-- Tipo de vehiculo -->
            {% include 'layouts/components/SelectTypeVehicle.html' with url1="?vehicle=1" url2="?vehicle=2" url3="?vehicle=3" %}
        </div>
    </section>
</article>

{% else %}
<article id="ingreso" class="card-form">
    <section class="card">
        <header class="card-header">
            <!-- BackButton -->
            {% include 'layouts/components/BackButton.html' %}
            <h1 class="card-title">
                Registrar {{vehicle_selected}}
            </h1>
        </header>
        <div class="card-body">
            <!-- Errores de formulario -->
            {% include 'layouts/components/FormErrors.html' %}
            {% include 'layouts/forms/FormVehicles.html' %}
        </div>
    </section>
</article>
{% endif %}

{% endblock %}