{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<!-- VISTA: Elegir rol a registrar -->
{% if not rol %}
<article id="register-user" class="card-select">
    <header>
        <h1 class="header-title">Nuevo usuario</h1>
    </header>
    <section class="card">
        <header class="card-header"> 
            <!-- Back Button -->           
            {% include 'layouts/components/BackButton.html' %}
            <h1 class="card-title">Rol</h1>
        </header>
        <div class="card-body">
            <!-- Lista de roles -->
            {% include 'layouts/components/SelectRol.html' with rol1="?rol=1" rol2="?rol=2" rol3="?rol=3" rol4="?rol=4" %}
        </div>
    </section>
</article>

<!-- VISTA: Formulario-->
{% else %}
<article id="register-user" class="card-form">
    <section class="card">
        <header class="card-header">
            <h1 class="card-title">
                Registrar {{rol_selected}}
            </h1>
            <!-- Back Button -->
            {% include 'layouts/components/BackButton.html' %}
        </header>
        <div class="card-body">            
            <!-- Formulario -->
            {% include 'layouts/forms/FormUser.html' %}
        </div>
    </section>
</article>
<!-- Modal Camara -->
{% include 'layouts/includes/modalCamaraRegister.html' %}
{% endif %}
{% endblock %}