{% include 'layouts/components/FormErrors.html' %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.usuario}}
    <div class="form-group row">
        <div class="col">
            <div class="input-box">
                {{form.sn}}
                <label>{{form.sn.label}}</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            {{form.tipo}}
        </div>
        <div class="col">
            {{form.marca}}
        </div>
    </div>
    <div class="form-submit">
        <button class="form-btn btn btn-primary" type="submit">Enviar</button>
    </div>
</form>