{% load static %}
<div class="col">
    <img src="{% static 'assets/icons/devices2.png' %}">
    <label for="names">Dispositivos</label>  
    <!-- Zona select -->                           
    <div class="select-form device">
        <!-- Select -->
         <div class="select-btn {% if not ingreso %}open{% endif %}"> {% comment %} Si esta ingresando abrir select {% endcomment %}
            {% comment %} Si esta ingresando {% endcomment %}
            {% if not ingreso %}
                <span class="btn-text">Seleccionar Dispositivos</span>
            {% comment %} Si esta saliendo y tiene dispositivo {% endcomment %}
            {% elif ingreso.dispositivo  %}
                <span class="btn-text">{{ingreso.dispositivo}}</span>
            {% endif%}
            <span class="arrow-dwn">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
        </div>      
        <!-- Lista -->                  
        <ul class="list-items">
            {% if dispositivos %}
                {% comment %} Si esta ingresando {% endcomment %}
                {% if not ingreso %}
                    {% for dispositivo in dispositivos %}
                            <!-- Item -->
                            <li class="item item-device" value="{{dispositivo.iddispositivo}}">
                                <span class="checkbox">
                                    <i class="fa-solid fa-check check-icon"></i>
                                </span>
                                <span class="item-text">{{dispositivo}}</span>
                            </li>
                    {% endfor %}
                {% comment %} Si esta saliendo y tiene dispositivo {% endcomment %}
                {% elif ingreso.dispositivo %}
                    <!-- Item -->
                    <li class="item item-device checked" value="{{ingreso.dispositivo.iddispositivo}}">
                        <span class="checkbox">
                            <i class="fa-solid fa-check check-icon"></i>
                        </span>
                        <span class="item-text">{{ingreso.dispositivo}}</span>
                    </li>                                    
                {% endif %}
            {% else %}
                <span class="item-text">Ningun dispositivo registrado</span>
            {% endif %}                                       
        </ul>
    </div>                                             
</div>