{% load static %}
<div class="col">
    <img src="{% static 'assets/icons/vehicles2.png' %}">
    <label for="names">Vehiculos</label>      
    <!-- Zona select -->  
    <div class="select-form vehicle">
        <!-- Select -->
        <div class="select-btn open">
            {% if not ingreso %}
            <span class="btn-text">Seleccionar Vehiculo</span>
            <span class="arrow-dwn">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
            {% comment %} Si ingreso y tiene vehiculo {% endcomment %}
            {% elif ingreso and ingreso.vehiculo %}
            <span class="btn-text">{{ingreso.vehiculo}}</span>
            {% endif %}            
        </div>     
        <!-- Lista -->                   
        {% if not ingreso %}
            <ul class="list-items">
                {% if vehiculos %}
                    {% for vehiculo in vehiculos %}
                    <!-- Item -->
                    <li class="item item-vehicle" value="{{vehiculo.idvehiculo}}">
                        <span class="checkbox">
                            <i class="fa-solid fa-check check-icon"></i>
                        </span>
                        <span class="item-text">{{vehiculo}}</span>
                    </li>
                    {% endfor %}
                {% else %}
                    <span class="item-text">Ningun vehiculo registrado</span>
                {% endif %}
            </ul>
        {% endif %}                                                          
    </div>                                                     
</div>