{% extends 'layouts/admin_base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block card_title %} {{title}} {% endblock %}

{% block card_register_btn %} 
  {% include 'layouts/components/ButtonRegister.html' with name="Registrar usuario" %}
{% endblock %}

{% block card_table %}
<!-- Botones para cambio de tablas -->
{% if not search %}
  <div class="btn-change-table">
    {% for rol in roles %}
      <button type="button" class="btn btn-green2 users {% if rol.idrol == 2 %}btn-green2-active{% endif %}" data-table="{{rol.idrol}}">{{rol}}</button>
    {% endfor %}
  </div>
{% endif %}

<!-- Tablas segun cada rol -->
{% for rol, data in users.items %}
<div class="table-container {% if forloop.counter != 2 %}d-none{% endif %}">
  <div class="table-scroll">
    <table class="table table-striped" data-table="{{forloop.counter}}">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Rol</th>
          {% if search or rol == "aprendiz" %}
            <th scope="col">Ficha</th>
          {% endif %}
          <th scope="col">Documento</th>
          {% if search or rol != "visitante" %}
            <th scope="col">Centro</th>
          {% endif %}
          <th scope="col">Telefono</th>
          <th scope="col">Vehiculos y Dispositivos</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="tbody">
        <!-- Traer los datos -->
        {% include 'layouts/components/TableContent.html' with search=search items=data.model include="pages/usuarios/table/data.html" %}
      </tbody>
    </table>
  </div>  
  {% if not search %}
    <!-- Paginacion de la tabla -->
    {% include 'layouts/components/Pagination.html' with pagination=data.model name=data.name %} 
  {% else %}
    <!-- Paginacion de search -->
    {% include 'layouts/components/Pagination.html' with pagination=search name="user-search" %}
  {% endif %}
</div>
{% endfor %}
{% endblock %}

<!-- Modal -->
{% block Modal %}
  {% include 'layouts/components/ElementsModal.html' with id="userElementsModal" title="Vehiculos y dispositivos" cardName1="Vehiculos" cardClass1="vehicles" cardImg1="/static/assets/icons/vehicles2.png" card2="true" cardName2="Dispositivos" cardClass2="devices" cardImg2="/static/assets/icons/devices2.png" %}
{% endblock %}

<!-- Vista registro  -->
{% block card_register %}
  <header class="card-header">
    <h1 class="card-title">Rol</h1>
    <!-- Back Button -->
    {% include 'layouts/components/BackButton.html' %}
  </header>
  <div class="card-body">
    <!-- Lista para seleccionar el rol del usuario -->
    {% include 'layouts/components/SelectRol.html' with rol1="/admin/users/registeruser/1" rol2="/admin/users/registeruser/2" rol3="/admin/users/registeruser/3" rol4="/admin/users/registeruser/4" %}
  </div>
{% endblock %}




  
  