{% extends 'layouts/admin_base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block card_title %} {{title}} {% endblock %}
{% block card_register_btn %} Registrar {{title}} {% endblock %}


{% block card_table %}

<div class="btn-change-table">
  {% for rol in roles %}
    <button type="button" class="btn btn-green2 {% if rol.idrol == 2 %}btn-green2-active{% endif %}" data-table="{{rol.idrol}}">{{rol}}</button>
  {% endfor %}
</div>

{% for rol, data in users.items %}
<div class="table-container {% if forloop.counter != 2 %}d-none{% endif %}">
  <div class="table-scroll">
    <table class="table table-striped" data-table="{{forloop.counter}}">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Rol</th>
          <th scope="col">Ficha</th>
          <th scope="col">Documento</th>
          <th scope="col">Centro</th>
          <th scope="col">Telefono</th>
          <th scope="col">Dispositivo</th>
          <th scope="col">Vehiculo</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="tbody">
        {% for user in data.model %}      
        <tr>
          <th scope="row">{{user.idusuario}}</th>
          <td>{{user.nombres}}</td>
          <td>{{user.apellidos}}</td>
          <td class="rol" data-rol="{{user.rol.idrol}}">{{user.rol}}</td>
          <td class="ficha">{{user.ficha|default:""}}</td>
          <td>{{user.tipodocumento}} {{user.documento}}</td>
          <td class="centro">{{user.centro|default:""}}</td>
          <td>{{user.telefono}}</td>
          <td>{% for dispositivo in user.dispositivos_set.all %}{{dispositivo|default:"Ninguno"}}{% endfor %}</td>
          <td>{% for vehiculo in user.vehiculos_set.all %}{{vehiculo|default:"Ninguno"}}{% endfor %}</td>
          <td class="actions">
            <!-- Dropdows de acciones-->
            {% include 'layouts/components/Dropdown.html' %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'layouts/components/Pagination.html' with pagination=data.model name=data.name %} 
</div>
{% endfor %}

{% endblock %}


{% block card_register %}

<header class="card-header">
  <h1 class="card-title">Rol</h1>
  <!-- Btn atras -->
  {% include 'layouts/components/BackButton.html' %}
</header>
<div class="card-body">
  {% include 'layouts/components/SelectRol.html' with rol1="/admin/users/registeruser/1" rol2="/admin/users/registeruser/2" rol3="/admin/users/registeruser/3" rol4="/admin/users/registeruser/4" %}
</div>

{% endblock %}




  
  