{% extends 'layouts/layout.html' %} 
{% load static %} 

{% block title %} {{title}} {% endblock %} 

{% block content %}
<article id="admin" class="card-form">
  <section class="card">
      <header class="card-header">
          <h1 class="card-title">
              Editar dispositivo
          </h1>
          <!-- Boton Atras -->
          {% include 'layouts/components/BackButton.html'%}
      </header>
      <div class="card-body">
        <!-- Formulario -->
        {% include 'layouts/forms/FormDevices.html' %}
      </div>
  </section>
</article>
{% endblock %}
