{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}

<article id="admin">
  <!-- Card general -->
  <section class="card">
    <!-- Card MAIN -->
    <section class="card-main">
      <header class="card-header">  
        <!-- Btn Descargar Reporte -->    
        <a role="button" href="{% url 'reports' model="usuarios" %}" class="btn btn-green report"> 
          <img src="{% static 'assets/icons/excel.png' %}" width="25" alt="">
          <span>Reporte General</span>
        </a>
        <h1 class="card-title">{% block card_title %}{% endblock %}</h1>
        <!-- Btn Registrar Usuario -->
        <button type="button" class="btn btn-green add btn-register" id="btn-register">{% block card_register_btn %}{% endblock %}</button>                 
      </header>
      <!-- Seccion Search -->
      {% include 'layouts/components/Search.html' %}
      <!-- Mensajes -->
      {% include 'layouts/components/Messages.html' %}
      <div class="card-body">
        <!-- Card Tabla-->
        <div class="card card-table">  
          {% block card_table %}                       
            
          {% endblock %}  
        </div>
      </div> 
    </section>
    {% block Modal %}
    
    {% endblock %}
    <!-- Card REGISTER -->
    <section class="card-register card-select">
       {% block card_register %}

       {% endblock %}
    </section>
  </section>
</article>

{% endblock %}



  
  