{% extends 'layouts/layout.html' %}
{% load static %}

{% block content %}
<article id="admin">
  <!-- Card general -->
   <section class="card">
    <!-- Card MAIN -->
    <section class="card-main">
      <header class="card-header">  
        <!-- Btn Descargar Reporte -->    
        <a role="button" href="{% url 'reportusers' %}" class="btn btn-green"> 
          <img src="{% static 'assets/icons/excel.png' %}" width="25" alt="">
            Descargar Reporte
        </a>
        <h1 class="card-title">{% block card_title %}{% endblock %}</h1>
        <!-- Btn Registrar Usuario -->
        <button type="button" class="btn btn-green add btn-register" id="btn-register">{% block card_register_btn %}{% endblock %}</button>                 
      </header>
      <!-- Seccion Search -->
      <div class="card-search">
          <div class="input-box search">
              <input type="text" placeholder="Buscar" id="search">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search icon" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
              <i class="bi bi-x-circle-fill search-delete cancel"></i>
          </div>
      </div>
      <!-- Mensajes -->
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success" role="alert">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
      <div class="card-body">
        <!-- Card Tabla-->
        <div class="card card-table">  
          {% block card_table %}                       
            
          {% endblock %}  
        </div>
      </div> 
    </section>
    <!-- Card REGISTER -->
   <section class="card-register register-select">
      {% block card_register %}

      {% endblock %}
   </section>
  </section>
</article>

{% endblock %}



  
  