{% load static %}
<ul>
    <li class="col">
        <a role="button" href="{{rol1}}">
            <img src="{% static "assets/icons/roles/instructor.png" %}" alt="">
            <span>Instructor</span>
        </a>
    </li>
    <li class="col">
        <a role="button" href="{{rol2}}">
            <img src="{% static "assets/icons/roles/aprendiz.png" %}" alt="">
            <span>Aprendiz</span>
        </a>
    </li>
    <li class="col">
        <a role="button" href="{{rol3}}">
            <img src="{% static "assets/icons/roles/visitante.png" %}" alt="">
            <span>Visitante</span>
        </a>
    </li>
    <li class="col">
        <a role="button" href="{{rol4}}">
            <img src="{% static "assets/icons/roles/funcionario.png" %}" alt="">
            <span>Administrativo</span>
        </a>
    </li>
</ul>