{% load static %}
<div class="row">
    {% if users.rol.idrol == 1 or users.rol.idrol == 4 or carro == "true" %}
    <ul class="col vehiculo">
        <a role="button" href="{{url1}}">
            <img src="{% static "assets/icons/car.png" %}" alt="">
            <span>Carro</span>
        </a>
    </ul>
    {% endif %}
    <ul class="col vehiculo">
        <a role="button" href="{{url2}}">
            <img src="{% static "assets/icons/motorbike.png" %}" alt="">
            <span>Moto</span>
        </a>
    </ul>
    <ul class="col">
        <a role="button" href="{{url3}}">
            <img src="{% static "assets/icons/bike.png" %}" alt="">
            <span>Bicicleta</span>
        </a>
    </ul>
</div>