#module2 .card .card-header{
    justify-content: space-between;
}

#module2 .card .card-body{
    margin: 80px 0;
}

#module2 .back-button{
    position: static;
}

#module2 .accept{
    width: 25%;
}

#module2 .select .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#module2 .select label{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}