{% extends 'layouts/admin_base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block card_title %} {{title}} {% endblock %}
{% block card_register_btn %} Registrar {{title}} {% endblock %}


{% block card_table %}

<div class="btn-change-table access">
    <button type="button" class="btn btn-green2 btn-green2-active" data-id="1">Ingresos activos</button>    
    <button type="button" class="btn btn-green2" data-id="2">Ingresos y salidas</button>    
  </div>

<div class="access table-container table-1">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th> 
        <th scope="col">Fecha</th>
        <th scope="col">Usuario</th>
        <th scope="col">Rol</th>
        <th scope="col">Vehiculo</th>
        <th scope="col">Dispositivo</th>
        <th scope="col">Hora ingreso</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="tbody">
      {% for enter in access %}
      <tr>
        <th scope="row">{{enter.idingreso}}</th>
        <td>{{enter.fecha}}</td>
        <td>{{enter.usuario}}</td>
        <td>{{enter.usuario.rol}}</td>
        <td>{{enter.dispositivo|default:"Ninguno"}}</td>
        <td>{{enter.vehiculo|default:"Ninguno"}}</td>      
        <td>{{enter.horaingreso}}</td>  
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="access table-container table-2 table-animation d-none">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th> 
          <th scope="col">Fecha</th>
          <th scope="col">IdIngreso</th>
          <th scope="col">Usuario</th>
          <th scope="col">Rol</th>
          <th scope="col">Vehiculo</th>
          <th scope="col">Dispositivo</th>
          <th scope="col">Hora ingreso</th>
          <th scope="col">Hora salida</th>
        </tr>
      </thead>
      <tbody class="tbody">
        {% for exit in exits %}
        <tr>
          <th scope="row">{{exit.idsalida}}</th>
          <td>{{exit.fecha}}</td>
          <td>{{exit.ingreso.idingreso}}</td>
          <td>{{exit.ingreso.usuario}}</td>
          <td>{{exit.ingreso.usuario.rol}}</td>
          <td>{{exit.dispositivo|default:"Ninguno"}}</td>
          <td>{{exit.vehiculo|default:"Ninguno"}}</td>      
          <td>{{exit.ingreso.horaingreso}}</td>  
          <td>{{exit.horasalida}}</td>  
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}


{% block card_register %}

<header class="card-header">
  <h1 class="card-title">Rol</h1>
  <!-- Btn atras -->
  <button class="btn back-button" type="button" id="btn-back">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
  </button>
</header>
<div class="card-body">
  <ul>
    <ul class="col select-rol">
      <a role="button" href="{% url 'registeruser' rol=1 %}">
        <img src="{% static "assets/icons/profesor.png" %}" alt="">
        <span>Instructor</span>
      </a>
    </ul>
    <ul class="col select-rol">
        <a role="button" href="{% url 'registeruser' rol=2 %}">
          <img src="{% static "assets/icons/aprendiz.png" %}" alt="">
          <span>Aprendiz</span>
        </a>
    </ul>
    <ul class="col select-rol">
        <a role="button" href="{% url 'registeruser' rol=3 %}">
          <img src="{% static "assets/icons/visitante.png" %}" alt="">
          <span>Visitante</span>
        </a>
    </ul>
    <ul class="col select-rol">
      <a role="button" href="{% url 'registeruser' rol=4 %}">
        <img src="{% static "assets/icons/administrativo.png" %}" alt="">
        <span>Administrativo</span>
      </a>
    </ul>
  </ul>
</div>

{% endblock %}




  
  