{% extends 'layouts/admin_base_access.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block card_title %} {{title}} {% endblock %}

{% block card_table %}

<div class="btn-change-table access">
  <button type="button" class="btn btn-green2 btn-green2-active" data-table="1">Ingresos activos</button>    
  <button type="button" class="btn btn-green2" data-table="2">Ingresos y salidas</button>    
</div>

<div class="access table-container table-1" data-table="1">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th> 
        <th scope="col">Fecha</th>
        <th scope="col">Usuario</th>
        <th scope="col">Rol</th>
        <th scope="col">Vehiculo</th>
        <th scope="col">Dispositivo</th>
        <th scope="col">Hora ingreso</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="tbody">
      {% for enter in access %}
      <tr>
        <th scope="row">{{enter.idingreso}}</th>
        <td>{{enter.fecha}}</td>
        <td>{{enter.usuario}}</td>
        <td>{{enter.usuario.rol}}</td>
        <td>{{enter.dispositivo|default:"Ninguno"}}</td>
        <td>{{enter.vehiculo|default:"Ninguno"}}</td>      
        <td>{{enter.horaingreso}}</td>  
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="access table-container table-2 d-none" data-table="2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th> 
          <th scope="col">Fecha</th>
          <th scope="col">IdIngreso</th>
          <th scope="col">Usuario</th>
          <th scope="col">Rol</th>
          <th scope="col">Vehiculo</th>
          <th scope="col">Dispositivo</th>
          <th scope="col">Hora ingreso</th>
          <th scope="col">Hora salida</th>
        </tr>
      </thead>
      <tbody class="tbody">
        {% for exit in exits %}
        <tr>
          <th scope="row">{{exit.idsalida}}</th>
          <td>{{exit.fecha}}</td>
          <td>{{exit.ingreso.idingreso}}</td>
          <td>{{exit.ingreso.usuario}}</td>
          <td>{{exit.ingreso.usuario.rol}}</td>
          <td>{{exit.dispositivo|default:"Ninguno"}}</td>
          <td>{{exit.vehiculo|default:"Ninguno"}}</td>      
          <td>{{exit.ingreso.horaingreso}}</td>  
          <td>{{exit.horasalida}}</td>  
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
