{% extends 'layouts/admin_base_access.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block card_title %} {{title}} {% endblock %}

{% block card_table %}

<div class="btn-change-table">
  <button type="button" class="btn btn-green2 btn-green2" data-table="1">Ingresos activos</button>    
  <button type="button" class="btn btn-green2 btn-green2-active" data-table="2">Ingresos y salidas</button>    
</div>

<div class="table-container d-none">
  <div class="table-scroll">
    <table class="table table-striped" data-table="1">
      <thead>
        <tr>
          <th scope="col">Id</th> 
          <th scope="col">Fecha</th>
          <th scope="col">Usuario</th>
          <th scope="col">Rol</th>
          <th scope="col">Vehiculo</th>
          <th scope="col">Dispositivo</th>
          <th scope="col">Hora ingreso</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="tbody">
        {% include 'layouts/components/TableContent.html' with search=search_access items=access item=enter include='pages/ingresos/tables/ActiveAccess.html'%}        
      </tbody>
    </table>
  </div>
  {% include 'layouts/components/Pagination.html' with pagination=access name="access"%}
</div>

<div class="table-container">
  <div class="table-scroll">
    <table class="table table-striped" data-table="2">
      <thead>
        <tr>
          <th scope="col">Id</th> 
          <th scope="col">Fecha</th>
          <th scope="col">IdIngreso</th>
          <th scope="col">Usuario</th>
          <th scope="col">Rol</th>
          <th scope="col">Vehiculo</th>
          <th scope="col">Dispositivos</th>
          <th scope="col">Hora ingreso</th>
          <th scope="col">Hora salida</th>
        </tr>
      </thead>
      <tbody class="tbody">
        {% include 'layouts/components/TableContent.html' with search=search_exit items=exits item=exit include='pages/ingresos/tables/Exits.html'%}
      </tbody>
    </table>
  </div>
  {% include 'layouts/components/Pagination.html' with pagination=exits name="exits"%}
</div>

{% include 'layouts/components/ElementsModal.html' with class="access-devices" id="accessDevicesModal" title="Dispositivos" cardName1="Dispositivos de ingreso" cardClass1="access" %}
{% include 'layouts/components/ElementsModal.html' with class="exit-devices" id="exitDevicesModal" title="Dispositivos" cardName1="Dispositivos de ingreso" cardClass1="access" card2="true" cardName2="Dispositivos de salida" cardClass2="exit" %}


{% endblock %}
