{% extends 'layouts/layout.html'%}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}

{% if not users %}
<article id="ingreso" class="card-scan">
    <!-- Alerta  -->
    {% include 'layouts/components/Alert.html' %}
    <!-- Card escaneo -->
    {% include 'layouts/components/CardScan.html' %}
</article>
{% else %}
<article id="module2" class="card-select-elements module-selects">
    <header>
        <h1 class="header-title">
            {% if not ingreso %}
                Ingreso
            {% else %}
                Salida
            {% endif %}
        </h1>        
    </header>

    <!-- Alerta  -->
    {% include 'layouts/components/Alert.html' %}
    
    <section class="card">
        <header class="card-header">   
            <!-- Boton atras -->         
            {% include 'layouts/components/BackButton.html'%}
            <h1 class="card-title">{{users}}</h1>
            <!-- Botones de registro -->
            {% include 'layouts/components/ButtonsRegisterDevice.html'%}
        </header>
        <div class="card-body"> 
            <!-- Seleccionar dispositivos -->
            <div class="row w-100 select">
                <!-- Dispositivos -->
                <div class="col">
                    <img src="{% static 'assets/icons/devices2.png' %}">
                    <label for="names">Dispositivos</label>  
                    <!-- Zona select -->                           
                    <div class="select-form device">
                        <!-- Select -->
                        <div class="select-btn {% if not ingreso %}open{% endif %}">
                            {% if not ingreso %}
                                <span class="btn-text">Seleccionar Dispositivos</span>
                            {% elif ingreso.dispositivo  %}
                                <span class="btn-text">{{ingreso.dispositivo}}</span>
                            {% endif%}
                            <span class="arrow-dwn">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>      
                        <!-- Lista -->                  
                        <ul class="list-items">
                            {% if dispositivos %}
                                {% if not ingreso %}
                                    {% for dispositivo in dispositivos %}
                                            <!-- Item -->
                                            <li class="item item-device" value="{{dispositivo.iddispositivo}}">
                                                <span class="checkbox">
                                                    <i class="fa-solid fa-check check-icon"></i>
                                                </span>
                                                <span class="item-text">{{dispositivo}}</span>
                                            </li>
                                    {% endfor %}
                                {% elif ingreso.dispositivo %}
                                    <!-- Item -->
                                    <li class="item item-device checked" value="{{ingreso.dispositivo.iddispositivo}}">
                                        <span class="checkbox">
                                            <i class="fa-solid fa-check check-icon"></i>
                                        </span>
                                        <span class="item-text">{{ingreso.dispositivo}}</span>
                                    </li>                                    
                                {% endif %}
                            {% else %}
                                <span class="item-text">Ningun dispositivo registrado</span>
                            {% endif %}                                       
                        </ul>
                    </div>                                             
                </div>
            </div>      
        </div>
        <footer class="card-footer">
            <div class="row w-100 text-center">
                <!-- Boton ingresar y form para enviar el vehiculo y los dispositivos --> 
                <div class="col-lg col-md col-sm col-xs-12 ">
                    <form id="form-access" method="post">
                        {% csrf_token %}
                        <input id="devices" type="hidden" name="devices" value="{% if ingreso.dispositivo %}{{ingreso.dispositivo.iddispositivo}}{% endif %}">      
                        <button type="submit" class="btn accept">{% if ingreso %}Salir{% else %}Ingresar{% endif %}</button>
                    </form> 
                </div>                          
            </div>
        </footer>
    </section>
</article>
{% endif %}

{% endblock %}