{% extends 'layouts/layout.html'%}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}

{% if not users %}
<article id="ingreso" class="card-scan">
    <!-- Alerta  -->
    {% include 'layouts/components/Alert.html' %}
    <!-- Card escaneo -->
    {% include 'layouts/components/CardScan.html' %}
</article>
{% else %}
<article id="module3" class="card-select-elements">
    <header>
        <h1 class="header-title">
            {% if not ingreso %}
                Ingreso
            {% else %}
                Salida
            {% endif %}
        </h1>        
    </header>

    <!-- Alerta  -->
    {% include 'layouts/components/Alert.html' %}
    
    <section class="card">
        <header class="card-header">   
            <!-- Boton atras -->         
            {% include 'layouts/components/BackButton.html'%}
            <h1 class="card-title">{{users}}</h1>
            <!-- Botones de registro -->
            {% include 'layouts/components/ButtonsRegister.html'%}
        </header>
        <div class="card-body"> 
            <!-- Seleccionar vehiculos y dispositivos -->
            <div class="row w-100 select">
                <!-- Vehiculos -->
                {% include 'layouts/components/SelectVehicle.html' %}
                <!-- Dispositivos -->
                {% include 'layouts/components/SelectDevices.html' %}
            </div>      
        </div>
        <footer class="card-footer">
            <div class="row w-100 text-center">
                <!-- Boton ingresar y form para enviar el vehiculo y los dispositivos --> 
                <div class="col-lg col-md col-sm col-xs-12 ">
                    <form id="form-access" method="post">
                        {% csrf_token %}
                        <input id="vehicle" type="hidden" name="vehicle" value="{% if ingreso.vehiculo %}{{ingreso.vehiculo.idvehiculo}}{% endif %}">
                        <input id="devices" type="hidden" name="devices" value="{% if ingreso.dispositivo %}{{ingreso.dispositivo.iddispositivo}}{% endif %}">      
                        <button type="submit" class="btn accept">{% if ingreso %}Salir{% else %}Ingresar{% endif %}</button>
                    </form> 
                </div>                          
            </div>
        </footer>
    </section>
</article>
{% endif %}

{% endblock %}