{% extends 'layouts/layout.html'%}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}

{% if not users %}
<article id="ingreso" class="card-scan">
    <!-- Alerta  -->
    {% include 'layouts/components/Alert.html' %}
    <!-- Card escaneo -->
    {% include 'layouts/components/CardScan.html' %}
</article>
{% else %}
<article id="module3" class="card-select-elements">
    <header>
        <h1 class="header-title">
            {% if not ingreso %}
                Ingreso
            {% else %}
                Salida
            {% endif %}
        </h1>        
    </header>

    <!-- Alerta  -->
    {% include 'layouts/components/Alert.html' %}
    
    <section class="card">
        <header class="card-header">   
            <!-- Boton atras -->         
            {% include 'layouts/components/BackButton.html'%}
            <h1 class="card-title">{{users}}</h1>
            <!-- Botones de registro -->
            {% include 'layouts/components/ButtonsRegister.html'%}
        </header>
        <div class="card-body"> 
            <!-- Seleccionar vehiculos y dispositivos -->
            <div class="row w-100 select">
                <!-- Vehiculos -->
                <div class="col">
                    <img src="{% static 'assets/icons/vehicles2.png' %}">
                    <label for="names">Vehiculos</label>  
                    {% if ingreso %}      
                    <!-- Zona select -->                    
                        <div class="select-form vehicle">
                            <!-- Select -->
                            <div class="select-btn open">
                                <span class="btn-text">{% if ingreso.vehiculo %}{{ingreso.vehiculo}}{% else %}Ninguno{% endif %}</span>
                            </div>      
                            <!-- Item -->                
                            <input type="hidden" class="item-selected" value="{{ingreso.vehiculo.idvehiculo}}">
                        </div> 
                    {% else %}
                    <!-- Zona select -->  
                    <div class="select-form vehicle">
                        <!-- Select -->
                        <div class="select-btn open">
                            <span class="btn-text">Seleccionar Vehiculo</span>
                            <span class="arrow-dwn">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>     
                        <!-- Lista -->                   
                        <ul class="list-items">
                            {% if vehiculos %}
                                {% for vehiculo in vehiculos %}
                                <!-- Item -->
                                <li class="item item-vehicle" value="{{vehiculo.idvehiculo}}">
                                    <span class="checkbox">
                                        <i class="fa-solid fa-check check-icon"></i>
                                    </span>
                                    <span class="item-text">{{vehiculo}}</span>
                                </li>
                                {% endfor %} 
                            {% else %} 
                                <span class="item-text">Ningun vehiculo registrado</span>
                            {% endif %}                                                          
                        </ul>
                    </div>
                    {% endif %}                                                       
                </div>
                <!-- Dispositivos -->
                <div class="col">
                    <img src="{% static 'assets/icons/devices2.png' %}">
                    <label for="names">Dispositivos</label>  
                    <!-- Zona select -->                           
                    <div class="select-form device">
                        <!-- Select -->
                        <div class="select-btn open">
                            <span class="btn-text">Seleccionar Dispositivos</span>
                            <span class="arrow-dwn">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>      
                        <!-- Lista -->                  
                        <ul class="list-items">
                            {% if dispositivos %}
                                {% for dispositivo in dispositivos %}
                                <!-- Item -->
                                <li class="item item-device" value="{{dispositivo.iddispositivo}}">
                                    <span class="checkbox">
                                        <i class="fa-solid fa-check check-icon"></i>
                                    </span>
                                    <span class="item-text">{{dispositivo}}</span>
                                </li>
                                {% endfor %}
                            {% else %} 
                                <span class="item-text">Ningun dispositivo registrado</span>
                            {% endif %}                                       
                        </ul>
                    </div>                                             
                </div>
            </div>      
        </div>
        <footer class="card-footer">
            <div class="row w-100 text-center">
                <!-- Boton ingresar y form para enviar el vehiculo y los dispositivos --> 
                <div class="col-lg col-md col-sm col-xs-12 ">
                    <form id="form-access" method="post">
                        {% csrf_token %}
                        <input id="vehicle" type="hidden" name="vehicle" value="{% if ingreso %}{{ingreso.vehiculo.idvehiculo}}{% endif %}">
                        <input id="devices" type="hidden" name="devices" value="">      
                        <button type="submit" class="btn accept">{% if ingreso %}Salir{% else %}Ingresar{% endif %}</button>
                    </form> 
                </div>                          
            </div>
        </footer>
    </section>
</article>
{% endif %}

{% endblock %}